.login {
	height: calc(100vh - 50px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* background: linear-gradient(to right, #6d6bca, #f1eeee); */
	background: linear-gradient(
			rgba(255, 255, 255, 0.4),
			rgba(255, 255, 255, 0.2)
		),
		url('https://t4.ftcdn.net/jpg/01/19/11/55/360_F_119115529_mEnw3lGpLdlDkfLgRcVSbFRuVl6sMDty.jpg');
}

.loginWrapper {
	background: rgba(0, 0, 0, 0.7);
	padding: 40px;
	border: none;
	border-radius: 10px;
}

.longTitleWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.longTitleWrapper > img {
	background-color: white;
	border-radius: 50%;
	border: 5px solid white;
}

.loginImg {
	display: flex;
	align-self: center;
	text-align: center;
}
.loginTitle {
	font-size: 28px;
	font-family: sans-serif;
	color: white;
}

.loginSubTitle {
	font-size: 16px;
	font-family: sans-serif;
	color: white;
	opacity: 0.8;
	margin-top: 5px;
}

.loginForm {
	margin: 20px;
	display: flex;
	flex-direction: column;
	font-family: Arial, Helvetica, sans-serif;
}

.loginForm > label {
	margin: 10px 0;
	color: white;
}

.loginInput {
	padding: 10px;
	border: none;
	outline: none;
	color: white;
	background: rgba(0, 0, 0, 0);
	border-bottom: 1px solid white;
}

.loginInput::placeholder {
	color: white;
	opacity: 0.8;
}
.loginButton {
	margin-top: 20px;
	cursor: pointer;
	background-color: teal;
	border: none;
	color: white;
	border-radius: 10px;
	padding: 10px;
}

.loginButton:disabled {
	cursor: not-allowed;
}

.loginButton:hover {
	background-color: rgb(31, 146, 146);
}

.loginRegisterButton {
	position: absolute;
	top: 60px;
	right: 20px;
	width: 70px;
	background-color: lightcoral;
	cursor: pointer;
	border: none;
	border-radius: 10px;
	color: inherit;
	padding: 10px;
}

.loginRegisterButton > a {
	text-decoration: none;
	color: #fff;
}

.loginRegisterButton:hover {
	background-color: rgb(250, 143, 143);
}

.loginErrorSpan {
	text-align: center;
	margin-top: 10px;
	color: lightcoral;
}
